<template>
    <aside>
        <form enctype="multipart/form-data" id="slider" @submit.prevent="buildSlider">
            <ui-textbox label="Titulo"
                        id="title"
                        name="title"
                        :value.sync="slider.title"
                        placeholder="Titulo del slider">

            </ui-textbox>

            <ui-textbox label="Contentido"
                        :multi-line="true"
                        :rows="5"
                        :value.sync="slider.content"
                        name="content">

            </ui-textbox>

            <ui-textbox label="Orden"
                        :value.sync="slider.order"
                        type="number"
                        validation-rules="numeric|min:1|max:99"
                        name="order">

            </ui-textbox>

            <ui-checkbox name="centered"
                         :model.sync="slider.centered"
                         label="Centrado">
            </ui-checkbox>
            <ui-checkbox name="boxed"
                         :model.sync="slider.boxed"
                         label="Usar Borde">
            </ui-checkbox>


            <div class="form-group" v-if="!show.editing">
                <label for="image">Imagen</label>
                <input type="file" class="form-control" id="image" v-model="slider.image">
            </div>

            <ui-checkbox name="show"
                         label="Desea mostrar un boton?"
                         :model.sync="button.show">

            </ui-checkbox>
            <div v-if="button.show">
                <ui-textbox label="Texto"
                            :rows="5"
                            :value.sync="button.text"
                            name="text">
                </ui-textbox>

                <ui-textbox label="Link"
                            :rows="5"
                            :value.sync="button.url"
                            name="url">
                </ui-textbox>
            </div>

            <ui-button :loading="show.loading" icon="save" color="primary" :disabled="canSave">Guardar</ui-button>

        </form>
    </aside>
</template>
<script>
    export default {
        props: {
            sliderId: Number,
            resource: String
        },
        data() {
            return {
                slider: {
                    title: '',
                    content: '',
                    boxed: true,
                    centered: true,
                    image: '',
                    order: null
                },
                button: {
                    show: false,
                    text: 'Lear more',
                    url: '#'
                },
                show: {
                    editing: false,
                    loading: false
                }
            }
        },
        ready() {
            $('#title').focus();
        },
        watch: {
            sliderId() {
                if (_.isNull(this.sliderId)) {
                    return;
                }

                this.$http.get(`${this.resource}/${this.sliderId}`).then(response => {
                    this.show.editing = true;
                    this.slider.title = response.data.title;
                    this.slider.order = response.data.order;
                    this.slider.content = response.data.content;
                    this.slider.centered = Boolean(response.data.centered);
                    this.slider.boxed = Boolean(response.data.boxed);

                    if (response.data.button) {
                        this.button.show = Boolean(response.data.button.show);
                        this.button.text = response.data.button.text;
                        this.button.url = response.data.button.url;
                    }

                });
            },
        },
        computed: {
            canSave() {
                if (this.show.editing) return false;
                return _.isEmpty(this.slider.image);
            }
        },
        methods: {
            buildSlider() {
                this.show.loading = true;

                if (this.show.editing) {
                    this.update();
                    return;
                }
                this.create();
            },
            update() {
                Object.keys(this.button).forEach(p => {
                    this.slider[p] = this.button[p];
                });

                this.$dispatch('ready', {
                    slider: this.slider,
                    finish: this.finish
                });
            },
            create() {
                let form = $('#slider').get(0);
                let sliderData = new FormData();

                let parser = ob => {
                    Object.keys(ob).forEach(p => {
                        if (typeof ob[p] === 'boolean') {
                            sliderData.append(p, Number(ob[p]));
                            return;
                        }
                        sliderData.append(p, ob[p]);
                    });
                };

                parser(this.slider);
                parser(this.button);
                sliderData.append('image', form.image.files[0]);

                this.$dispatch('ready', {
                    slider: sliderData,
                    finish: this.finish
                });
            },
            finish() {
                this.show.loading = false;
            }
        }
    }
</script>
