<template>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Administración de Sliders</h3>

            <div class="box-tools pull-right">
                <ui-button
                        type="flat"
                        color="primary"
                        button-type="button"
                        icon="add" @click="show.add = true"> Agregar
                </ui-button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <ui-alert type="success" v-if="show.success">{{ message }}</ui-alert>
            <ul class="products-list product-list-in-box">
                <li class="item" v-for="slider of sliders">
                    <div class="product-img">
                        <img :src="slider.background.url" alt="{{ slider.background.name }}">
                    </div>
                    <span class="pull-right">
                        <ui-button type="flat" color="warning" button-type="button" icon="edit" @click="selectIToEdit(slider)"></ui-button>
                        <ui-button type="flat" color="danger" button-type="button" icon="delete" @click="selectIToDelete(slider)"></ui-button>
                    </span>
                    <div class="product-info">
                        <span class="product-description">
                             {{ slider.content || 'Empty' }}
                        </span>
                        <span class="product-description">
                             {{ slider.title || 'Empty' }}
                        </span>
                    </div>
                </li>
                <!-- /.item -->
            </ul>
        </div>

        <ui-modal :show.sync="show.add"
                  type="large"
                  header="Agregar nuevo Slider"
                  :backdrop-dismissible="false">
            <add @ready="upload"></add>
        </ui-modal>

        <ui-modal :show.sync="show.edit"
                  type="large"
                  header="Editar Slider"
                  :backdrop-dismissible="false">
            <add @ready="update" :resource="resource" :slider-id="selectedSlider.id"></add>
        </ui-modal>

        <ui-confirm
                header="Borrar Slider" type="danger" confirm-button-text="Borrar"
                confirm-button-icon="delete" deny-button-text="Cancelar" @confirmed="deleteConfirmed"
                :show.sync="show.deleteConfirm" close-on-confirm>
            Seguro desea eliminar el slider?
        </ui-confirm>

    </div>
</template>

<script>
    import Add from './Add.vue'
    export default {
        data () {
            return {
                sliders: [],
                show: {
                    add: false,
                    edit: false,
                    deleteConfirm: false,
                    success: false,
                },
                selectedSlider: {},
                resource: '/api/sliders',
                message: '',
            }
        },
        activate (done) {
            this.fetch(done);
        },
        computed: {
            idResource() {
                return `${this.resource}/${this.selectedSlider.id}`;
            }
        },
        methods: {
            fetch(fn) {
                this.$http.get(this.resource).then(response => {
                    this.sliders = response.data;
                    if (fn) {
                        fn();
                    }
                });
            },
            upload(event) {
                this.$http.post(this.resource, event.slider).then(
                        response => {
                            if (response.data.created) {
                                this.show.add = false;
                                this.fetch(event.finish);
                                this.showAlert('Slider Agregado!');
                                return;
                            }
                            event.finish();
                        },
                        error => {
                            event.finish();
                        }
                )
            },
            update(event) {
                this.$http.put(this.idResource, event.slider).then(
                        response => {
                            if (response.data.updated) {
                                this.show.edit = false;
                                this.fetch(event.finish);
                                this.showAlert('Slider Actualizado!');
                                return;
                            }
                            event.finish();
                        },
                        error => {
                            event.finish();
                        }
                );
            },
            deleteConfirmed() {
                this.$http.post(this.idResource, {'_method': 'DELETE'}).then(response => {
                    this.fetch();
                    this.showAlert('Slider Eliminado!');
                });
            },
            selectIToEdit(slider) {
                this.selectedSlider = slider;
                this.show.edit = true;
            },
            selectIToDelete(slider) {
                this.selectedSlider = slider;
                this.show.deleteConfirm = true;
            },
            showAlert(msg) {
                this.message = msg;
                this.show.success = true;
                setTimeout(() => {
                    this.show.success = false;
                }, 5000)
            }
        },
        components: {Add}
    }
</script>