<template>
    <section>
        <!--<navbar></navbar>-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <!--<sidebar></sidebar>-->
                </div>
                <section class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h1 class="page-header">Dashboard</h1>
                </section>
            </div>
        </div>
    </section>
</template>

<script>
    export default {}
</script>
