<template>
    <section>
        <ui-alert type="success" :show.sync="show.alertSuccess">
            {{ alertMessage}}
        </ui-alert>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Categorías de Productos</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" @click="show.add = true"><i class="fa fa-plus"></i>
                        Agregar
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-xs-4 col-xs-offset-8 pull-right">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" v-model="query" placeholder="Buscar Categorías...">
                    </div>
                </div>
                <br><hr>
                <ul class="products-list product-list-in-box">
                    <li class="item">
                        <div class="product-info">
                            <div v-for="category of collection | limitBy limit | filterBy query">
                               <span class="product-title">{{ category.name }}
                                   <a href="#" class="label label-warning pull-right bread" @click="markForEdit(category)">
                                       <i class="fa fa-pencil"></i>
                                   </a>
                                   <a href="#" class="label label-danger pull-right bread" @click="markForDelete(category)">
                                       <i class="fa fa-trash-o"></i>
                                   </a>
                               </span>
                                <span class="product-description">{{ category.description }}</span>
                                <hr>
                            </div>
                        </div>
                    </li>
                    <!-- /.item -->
                </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
                <a href="#" @click="showAll = !showAll" class="uppercase">{{ showAll ? 'Mostrar ' + top : 'Mostrar Todas'}}</a>
            </div>
            <!-- /.box-footer -->
        </div>
        <ui-modal :show.sync="show.add"
                  header="Agregar nueva Categoría"
                  :backdrop-dismissible="false">
            <category-form @added="saved">
            </category-form>
        </ui-modal>
        <ui-modal :show.sync="show.edit"
                  :backdrop-dismissible="false">
            <div slot="header">
                <h1>Editar  {{ selected.name }}</h1>
            </div>
            <category-form @edited="saved" :id="selected.id">
            </category-form>
        </ui-modal>
        <ui-confirm
                :header="'Borrar '+selected.name" type="danger" confirm-button-text="Borrar"
                confirm-button-icon="delete" deny-button-text="Cancelar" @confirmed="destroy"
                @denied="deleteDenied" :show.sync="show.destroy" close-on-confirm
        >
            ¿Está seguro que quiere borrar {{ selected.name }}?
        </ui-confirm>
    </section>
</template>
<script>
    import CategoryForm from './CategoryForm.vue'
    import Service from './CategoryService'
    import Base from './../../core/Component'
    export default {
        data() {
            return {
                collection: [],
                service: {},
                showAll: false,
                show: {
                    add: false,
                    edit: false,
                    destroy: false,
                    alertSuccess: false
                },
                query: '',
                top: 8,
                alertMessage: '',
                deleteMessage: 'Categoría Eliminada.',
                selected: {},
            }
        },
        created() {
            this.service = Service;
        },
        components: { CategoryForm },
        mixins: [Base]
    }
</script>

<style scoped>
    .bread {
        margin-right: 0.5%;
    }
</style>