<template>
    <section>
        <div class="box box-info">
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group" :class="{'has-error': hasError}">
                        <label for="name" class="col-sm-2 control-label">Nombre</label>

                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   v-model="category.name"
                                   id="name"

                                   placeholder="Nombre de la categoria">
                            <p class="help-block">{{ errors.name }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Descripción</label>

                        <div class="col-sm-10">
                            <textarea id="description" class="form-control" rows="10"
                                      v-model="category.description"></textarea>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="button" class="btn btn-info pull-right" @click="saveCategory"
                            :disabled="cantSave">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    </section>
</template>

<script>
    import Service from './CategoryService'
    export default {
        props: {
            id: Number
        },
        data() {
            return {
                category: {
                    name: '',
                    description: ''
                },
                errors: {
                    name: ''
                },
            };
        },
        watch: {
            id() {
                if (!this.isEditing) {
                    return;
                }

                Service.show(this.id, response => {
                    this.category = response.data
                });
            }
        },
        computed: {
            hasError() {
                return !_.isEmpty(this.errors.name);
            },
            cantSave() {
                return _.isEmpty(this.category.name);
            },
            isEditing() {
                return !(_.isNull(this.id) || _.isUndefined(this.id));
            }
        },
        methods: {
            saveCategory() {
                if (this.isEditing) {
                    Service.put(this.id, this.category,
                            () => {
                                this.$dispatch('edited', {
                                    message: 'Categoría editada.'
                                });
                              this.reset();
                            },
                            () => {
                                if (Service.hasErrors) {
                                    this.errors.name = Service.error.name;
                                    $('#name').focus();
                                }
                            });
                    return;
                }
                Service.store(this.category,
                        () => {
                            this.$dispatch('added', {
                                message: 'Categoría agregada.'
                            });
                            this.reset();
                        },
                        () => {
                            if (Service.hasErrors) {
                                this.errors.name = Service.error.name;
                                this.reset();
                                $('#name').focus();
                            }
                        }
                );
            },
            reset() {
                this.errors.name = '';
                this.category = {};
            }
        }
    }
</script>
