<template>
    <section>
        <ui-alert type="success" :show.sync="show.alertSuccess">
            {{ alertMessage}}
        </ui-alert>
        <!-- PRODUCT LIST -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Productos</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" @click="show.add = true">
                        <i class="fa fa-plus"></i>
                        Agregar
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-xs-4 col-xs-offset-8 pull-right">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" v-model="query" placeholder="Buscar Productos...">
                    </div>
                </div>
                <br><hr>
                <ul class="products-list product-list-in-box">
                    <li class="item" v-for="product of collection | limitBy limit | filterBy query">
                        <div class="product-img">
                            <img :src="getImgUrl(product.url_small)" alt="Product Image">
                        </div>
                        <div class="product-info">
                           <span class="product-title">{{ product.name }}
                               <a href="#"
                                  class="label label-danger pull-right bread"
                                  @click="markForDelete(product)">
                                       <i class="fa fa-trash-o"></i>
                               </a>

                               <a href="#"
                                  class="label label-warning pull-right bread"
                                  @click="markForEdit(product)">
                                   <i class="fa fa-pencil"></i>
                               </a>

                               <a href="#"
                                  @click="updateImage(product)"
                                  class="label label-success pull-right bread">
                                   <i class="fa fa-picture-o"></i>
                               </a>
                           </span>
                            <span class="product-description">
                                <span class="label label-warning">${{ product.price }}</span>
                                <p>{{ product.description }}</p>
                            </span>
                        </div>
                    </li>
                    <!-- /.item -->
                </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center" v-if="showLimit">
                <a href="#" @click="showAll = !showAll" class="uppercase">{{ showAll ? 'Mostrar 10' : 'Mostrar Todos'}}</a>
            </div>
            <!-- /.box-footer -->
        </div>
        <ui-modal :show.sync="show.add"
                  type="large"
                  header="Agregar nuevo Producto"
                  :backdrop-dismissible="false">
            <product-form @created="saved" :categories="categories"></product-form>
        </ui-modal>
        <ui-modal :show.sync="show.edit" v-if="show.edit"
                  :backdrop-dismissible="false">
            <div slot="header">
                <h1>Editar  {{ selected.name }}</h1>
            </div>
            <product-form @updated="saved" :id="selected.id" :categories="categories">
            </product-form>
        </ui-modal>

        <ui-modal :show.sync="show.showUpdateImage"
                  :backdrop-dismissible="true">
            <div slot="header">
                <h1>Editar  imagen para {{ selected.name }}</h1>
            </div>
            <update-image :product="selected" @image-updated="imageUpdated"></update-image>
        </ui-modal>

        <ui-confirm
                :header="'Borrar '+selected.name" type="danger" confirm-button-text="Borrar"
                confirm-button-icon="delete" deny-button-text="Cancelar" @confirmed="destroy"
                @denied="deleteDenied" :show.sync="show.destroy" close-on-confirm
        >
            ¿Está seguro que quiere borrar {{ selected.name }}?
        </ui-confirm>
    </section>
</template>

<script>
    import ProductForm from './ProductForm.vue'
    import UpdateImage from './UpdateImage.vue'
    import Service from './ProductService'
    import Base from './../../core/Component'
    export default {
        data() {
            return {
                showAll: false,
                top: 6,
                title: 'producto',
                service: {},
                show: {
                    add: false,
                    edit: false,
                    destroy: false,
                    alertSuccess: false,
                    showUpdateImage: false
                },
                query: '',
                canUpload: false,
                alertMessage: '',
                deleteMessage: 'Producto Eliminada.',
                selected: {},
                image: new FormData(),
                collection: [],
                categories: [],
            }
        },
        created() {
            Service.Category.all(response => {
                this.categories = response.data;
            });
            this.service = Service;
        },
        methods: {
            updateImage(product) {
                this.selected = product;
                this.show.showUpdateImage = true;
            },
            imageUpdated(event) {
                this.update(() => {
                    this.alertMessage = event.message;
                    this.show.showUpdateImage = false;
                    this.showAlert();
                });
            },
            getImgUrl(url) {
                return `${url}?ver=${(new Date()).getTime()}`;
            }
        },
        components: {
            ProductForm,
            UpdateImage
        },
        mixins: [Base]
    }
</script>
<style scoped>
    .bread {
        margin-right: 0.5%;
    }
</style>