<template>
    <section>
        <div class="box box-info">
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" enctype="multipart/form-data" @submit.prevent="save" id="save-form">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Categoría</label>
                        <select class="form-control select2" style="width: 80%; margin-left: 18.5%;"
                                v-model="product.category_id">
                            <option v-for="category of categories"
                                    :value="category.id"
                                    :selected="category.id === product.category_id">
                                {{ category.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group" :class="{'has-error': errors.name}">
                        <label for="name" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   v-model="product.name"
                                   id="name"

                                   placeholder="Nombre del nuevo producto">
                            <p class="help-block">{{ errors.name }}</p>
                        </div>
                    </div>

                    <div class="form-group" :class="{'has-error': errors.description}">
                        <label for="name" class="col-sm-2 control-label">Descripción</label>
                        <div class="col-sm-10">
                            <textarea class="form-control"
                                      v-model="product.description"
                                      id="description"
                                      placeholder="Describa aquí el producto">
                            </textarea>
                            <p class="help-block">{{ errors.description }}</p>
                        </div>
                    </div>

                    <div class="form-group" :class="{'has-error': errors.price}">
                        <label for="name" class="col-sm-2 control-label">Precio</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text"
                                   v-model="product.price"
                                   id="price"
                                   placeholder="Precio">
                            <p class="help-block">{{ errors.price }}</p>
                        </div>
                    </div>

                    <div class="form-group" :class="{'has-error': errors.image}" v-if="!isEditing">
                        <label for="image" class="col-sm-2 control-label">Imagen</label>
                        <div class="col-sm-10">
                            <input id="image" v-uploader name="image" type="file" class="file-loading">
                            <p class="help-block">{{ errors.image }}</p>
                        </div>
                    </div>
                    <div v-show="show.isLoading">
                        <p>
                            <ui-preloader :show="show.isLoading"></ui-preloader>
                        </p>
                        <br>
                        <p>Cargando... Favor no cierre ni acutualize el navegador.</p>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-info pull-right" :disabled="show.isLoading">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    </section>
</template>

<script>
    import Service from './ProductService'
    export default {
        props: {
            id: Number,
            categories: {
                required: true,
                type: Array
            },
        },
        data() {
            return {
                product: {},
                errors: {},
                show: {
                    isLoading: false
                }
            }
        },
        computed: {
            isEditing() {
                return !(_.isNull(this.id) || _.isUndefined(this.id));
            },
            hasErrors() {
                return !_.isEmpty(this.errors);
            },
            cantSave() {

            }
        },
        ready() {
            if (this.isEditing) {
                Service.show(this.id, response => {
                    this.product = response.data;
                });
            }
        },
        methods: {
            save(event) {
                this.show.isLoading = true;
                if (!this.isEditing) {
                    let data = new FormData();
                    Object.keys(this.product).forEach(p => {
//                    if (p === 'category_id') {
//                        data.append(p, this.product[p].value);
//                        return;
//                    }
                        data.append(p, this.product[p]);
                    });
                    data.append('image', event.target.image.files[0]);
                    Service.store(data,
                            () => {
                                this.$dispatch('created', {
                                    message: 'Producto Creado.'
                                });
                                this.reset();
                            },
                            () => {
                                this.errors = Service.error;
                                this.show.isLoading = false;
                            }
                    );
                    return;
                }

                Service.put(this.id, this.product,
                        () => {
                            this.$dispatch('updated', {
                                message: 'Producto Actualizado.'
                            });
                            this.reset();
                        }, () => {
                            this.errors = Service.error;
                            this.show.isLoading = false;
                        }
                );
            },
            reset() {
                this.product = {};
                this.errors = {};
                this.show.isLoading = false;
            }
        }
    }
</script>