<template>
    <section>
        <form enctype="multipart/form-data" id="imageFmr">
            <div class="img-container">
                <img :src="product.url_large" :alt="product.name" class="img-responsive img-thumbnail">
                <p class="label label-success">Image Actual</p>
            </div>
            <div class="form-group">
                <label for="image" class="col-sm-2 control-label">Imagen</label>
                <input id="image" v-uploader name="image" type="file" class="file-loading" @change="prepareImage">
            </div>
            <div v-show="show.isLoading">
                <p>
                    <ui-preloader :show="show.isLoading"></ui-preloader>
                </p>
                <br>
                <p>Cargando... Favor no cierre ni acutualize el navegador.</p>
            </div>
        </form>
    </section>
</template>

<script>
    import Service from './ProductService'
    export default {
        props: {
            product: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                show: {
                    isLoading: false
                }
            }
        },
        methods: {
            prepareImage(event) {
                this.show.isLoading = true;
                let data = new FormData();
                data.append('image', event.target.files[0]);
                console.log(data, event.target.files[0]);
                Service.updateImage(this.product.id, data,
                        () => {
                            this.$dispatch('image-updated', {
                                message: 'Imagen Cambianda.'
                            });
                            this.show.isLoading = false;
                            $('#imageFmr').trigger('reset');
                        });
            }
        }
    }
</script>

<style>
    .img-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
</style>